.logo img {
    float: left;
    height: 40px;
    width: auto;
}

nav {
    background-color: transparent;
    height: 65px;
    margin: 20px 75px 0;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(4px);
    position: relative;
    display: flex;
}

.sign-in {
    font-size: 25px;
    font-weight: bold;
    font-family:'Trebuchet MS';
    color: gray;
}